-
    function equalPath(target, current) {
        var _target = target.slice(1, target.length);
        var _current = current.replace(/\/?index.html/, '').split('/')[0];
        return _target === _current;
    }

    function translate_categories(categories) {
        var filterd = [];
        categories.each(function(i) {
            if(!i.parent) {
                filterd.push({
                    id: i._id,
                    parent: i.parent,
                    name: i.name,
                    path: i.path,
                    posts: i.posts
                })
            }

        })
        return filterd
    }
-

nav.navbar.navbar-expand-lg.navbar-light(role="navigation" aria-label="main navigation")
    a.navbar-brand= theme.author.toUpperCase()
    a.navbar-toggler(aria-label="menu" aria-expanded="false" data-toggle="collapse" data-target="#navigation")
        span.navbar-toggler-icon
    div#navigation.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            each url, label in theme.menu
                if label != 'Categories'
                    li.nav-item
                        a.nav-link(href=url class=equalPath(url, page.path) ? 'active' : '')= __(label)
                else if label == 'Categories'
                    each category in translate_categories(site.categories)
                        li.nav-item
                            a.nav-link(href=url_for(category.path) class=page.path.indexOf(category.path) > 0 ? 'active' : '')= __(category.name)
                            
