section.hero.page-header
    div.hero-body
        if is_home()
            div.page-title.home
                h1.display-4.font-weight-bold= theme.title
                p.lead= theme.subtitle
        if is_archive()
            div.page-title
                h1.display-4.font-weight-bold= __('archives')
        else if is_tag()
            div.page-title
                h1.display-4.font-weight-bold= __(page.tag)
        else if is_category()
            div.page-title
                h1.display-4.font-weight-bold= __(page.category)
