- var truncOptions = { length: 150, separator: ' ' };
-
    function getPosts() {
        var perPage = page.per_page || config.per_page;
        var skips = perPage * (page.current - 1);
        if (is_home()) {
            return site.posts
                .sort('date', -1)
                .skip(skips)
                .limit(perPage)
                .toArray();
        } else {
            return page.posts
                .limit(perPage)
                .toArray();
        }
    }
-
    var decodeHtmlEntity = function(str) {
        return str.replace(/&#x(\w+);/g, function(match, hex) {
            return String.fromCharCode(parseInt(hex, 16));
        });
    };

section.section.post-list.p-5
    div.row
        each post in getPosts()
            div.col-lg-4.col-md-6.col-sm-12
                div.post-list-item
                    div.card
                        if post.banner && post.banner.url
                            img.card-img-top(src=url_for(post.banner.url))
                        div.card-body
                            h5.card-title
                                if post.link
                                    a( href=post.link title=post.link target="_blank" )= post.link
                                else
                                    a( href=url_for(post.path) title=post.title || 'Untitled' )= post.title || 'Untitled'
                            p.card-text= truncate(strip_html(decodeHtmlEntity(post.excerpt || post.content)), truncOptions)
                        div.card-footer
                            if post.categories && post.categories.length
                                each category, index in post.categories.data
                                    a.tag.btn.btn-sm.btn-outline-danger.mr-2( href=url_for(category.path) )= category.name


    include pagination
