- var truncOptions = { length: 150, separator: ' ' };
-
    function getPosts() {
        var perPage = page.per_page || config.per_page;
        var skips = perPage * (page.current - 1);
        if (is_home()) {
            return site.posts
                .sort('date', -1)
                .skip(skips)
                .limit(perPage)
                .toArray();
        } else {
            return page.posts
                .limit(perPage)
                .toArray();
        }
    }
-
    var decodeHtmlEntity = function(str) {
        return str.replace(/&#x(\w+);/g, function(match, hex) {
            return String.fromCharCode(parseInt(hex, 16));
        });
    };

section.section.post-list
    div.columns.is-multiline.is-desktop.is-centered
        each post in getPosts()
            div.column.is-one-half-tablet.is-half-desktop.is-one-third-widescreen.is-one-quarter-fullhd.is-centered
                div.post-list-item
                    div.card
                        if post.banner && post.banner.url
                            div.card-image
                                img.image(src=url_for(post.banner.url))
                        div.card-content
                            h5.title.is-size-5
                                if post.link
                                    a.has-text-grey( href=post.link title=post.link target="_blank" )= post.link
                                else
                                    a.has-text-grey( href=url_for(post.path) title=post.title || 'Untitled' )= post.title || 'Untitled'
                            p.is-size-6= truncate(strip_html(decodeHtmlEntity(post.excerpt || post.content)), truncOptions)
                            div.tags
                                if post.categories && post.categories.length
                                    each category, index in post.categories.data
                                        a.tag.is-medium.is-danger( href=url_for(category.path) )= category.name


    include pagination
